//
   Created by Administrator on 2016/4/24.
extends layout
block content
  div.body_all
   div.talk_all
    div.show_box
    div.input_box
     textarea.input_send
    div.btn_box
     span.btn.btn-primary.send_btn 发送
