doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.2.3.min.js')
    script(src='/javascripts/test.js')
  body
    block content
